
.navbar-inverse {
  background-color: rgba(192,192,192,0.8);
  border: 0;
}

.navbar-brand {
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}

.navbar-toggle {
  border: 0;
}

header {
        text-align: center;
        background:'images/confetti-cookies.jpg';
        background-size: cover;
        color: white;
      }

body {
  padding-top: 70px;
}

.col-md-3 {
    padding-bottom: 15px;
}

.container {
  position: relative;
  width: 100%;
}

.kitchen {
  image-orientation: cover;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

small{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

.add-padding {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.row .col-md-9 .add-padding{
	padding-bottom: 20px;
}
img *{
	padding-bottom:20px;
}
