
.navbar-inverse {
  background-color: rgba(192,192,192,0.8);
  border: 0;
}

.navbar-brand {
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}

.navbar-toggle {
  border: 0;
}

body {
  padding-top: 70px;
}

.col-md-3 {
    padding-bottom: 15px;
}

.container {
  position: relative;
  width: 100%;
}

.add-padding {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.row .col-md-9 .add-padding{
	padding-bottom: 20px;
}


h2 {
	margin-bottom: 50px;
  text-align: left;
  margin-left: 20px;
}

blockquote p {
	line-height: 1.2;
}

.blockquote-footer {
	font-size: 70%;
}

#Codefirst {
	background-color: rgba(32, 35, 41, 0.9);
	color: #ddd;
	padding: 50px 0;
}
