
.navbar-header {
  background-color: pink;
  border: 0;
  color: blue;
}

.navbar-brand {
  font-weight: bold;
  color: blue;
}

.navbar-toggle {
  border: 0;
  background: url('images/confetti-cookies.jpg');
  background-size: cover;
}


body {
  padding-top: 70px;
}

.col-md-3 {
    padding-bottom: 15px;
}

.container {
  position: relative;
  width: 100%;
}

.kitchen {
  image-orientation: cover;
}


.add-padding {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.row .col-md-9 .add-padding{
	padding-bottom: 20px;
}
img *{
	padding-bottom:20px;
}
