.header {
  padding: 10px 16px;
  color: pink;
  text-align: left;
    }

.subscribe {
  float:right;
}

    ul {
          padding: 10px;
          background: rgba(0, 0, 0, 0.5);
          text-align: center;
        }
        li {
          display: inline;
          padding: 0px 10px 0px 10px;
        }

 header {
  background: url('https://pixabay.com/en/smarties-confectionery-sugar-candy-50838');
  background-size: cover;
}

.body {
  padding: 16px;
}

.column {
    width: 100%;
}

.blogpost img{
  height:250px;
  width:100%;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
small{
  opacity: 0;
}
.show-description p {
  height: 150px;
}
.show-description small {
  opacity: 1;
}
.first{
  background-image:"images/cake.jpg";
}
.second{
  background-image:"images/rosetart.jpg"";
}
.third{
  background-image:"images/rosetart.jpg";
}
.fourth{
  background-image:"images/cheesecake.jpg";
}

.like {
  float:right;
}
