.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.body {
  padding: 16px;
}

.column {
    width: 100%;
}

.blogpost img{
  height:250px;
  width:100%;
}

.like {
  float: right;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
