.header {
  padding: 10px 16px;
  color: #f1f1f1;
  text-align: left;
    }

.subscribe {
  float:right;
}

    ul {
          padding: 10px;
          background: rgba(0, 0, 0, 0.5);
          text-align: center;
        }
        li {
          display: inline;
          padding: 0px 10px 0px 10px;
        }

.body {
  padding: 16px;
}

.column {
    width: 100%;
}

.blogpost img{
  height:250px;
  width:100%;
}



.like {
  float:right;
}
